@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.welcome{
    text-align: center;
    background-color: #a3b18a;
    margin: 0;
    padding: 1px;
}

.welcome h1{
    color: #588157;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

.data{
    
    display: flex;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.graph-container{
    display: inline-block;
    width: 50%;
    margin: 5px;
    padding: 2px;
    box-shadow: 10px 5px 5px black;
}
.recent-transactions{
    display: inline-block;
    width: 50%;
    margin: 5px;
    padding: 2px;
    box-shadow: 10px 5px 5px black;
}
.navbar{
    border: 2px solid #588157;
}
.navbar ul{
    text-align: center;
    border: 2px solid #588157;
    
}
.navbar ul li{
    display: inline;
    border: 2px solid #588157;
    margin: 15px;
}
.logo{
    float: left;
}
